.btnAdd {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  transition: background-color 0.2s ease-in-out;
}

.btnAdd-categoria, .btnAdd-item {
  background-color: #4CAF50; /* Green */
  color: white;
  display: block;
  margin: 10px auto;
  width: 80%;
}

.btnAdd-categoria:hover, .btnAdd-item:hover {
  background-color: #45a049;
}


.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 2px 5px;
  margin: 0 3px;
}